* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* <main-menu> */
.main-menu {
    display: block;
    position: sticky;
    /* position: fixed; */
    width: 100%;
    top: 0;
    padding: 20px;
    background: #fff;
    box-shadow: 0 1px 15px 5px rgba(000, 000, 000, 0.2);
    z-index: 99;
}

.main-menu .menu-container {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.main-menu .menu-container img {
    display: block;
    width: 200px;
}

.main-menu .menu-container ul {
    display: flex;
}

.main-menu .menu-container ul li {
    position: relative;

}

.main-menu .menu-container ul li a {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    font-size: 16px;
    color: #828282;
    align-items: center;
    /* margin: 0 12px; */
    padding: 0 12px;
}

.main-menu .menu-container ul li a:hover {
    color: #29303e;
}

.main-menu .menu-container ul li.sub-menu button {
    display: flex;
    flex-direction: row-reverse;
    font-size: 16px;
    align-items: center;
    color: #828282;
    cursor: pointer;
    border: none;
    background: none;
    position: relative;
    padding: 0 12px;
}

.main-menu .menu-container ul li.sub-menu button::before{
    content: '';
    display: flex;
    width: 6px;
    height: 6px;
    border-top: 2px solid #828282;
    border-right: 2px solid #828282;
    transform: translateY(-30%) rotate(135deg);
    margin-left: 8px;
}

.main-menu .menu-container ul li.sub-menu .list {
    display: none;
    background: #fff;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,.1);
    left: 12px;
    position: absolute;
    padding: 4px 0;
    margin: 12px 0 0;
    outline: 1px solid rgba(204, 204, 204, .3);
}

.main-menu .menu-container ul li.sub-menu .list a {
    display: block;
    min-width: 88px;
    font-size: 14px;
    padding: 8px 16px;
    text-align: center;
}

.main-menu .menu-container ul li.sub-menu button:hover {
    color: #29303e;
}

.main-menu .menu-container ul li.sub-menu button.checked {
    color: #ff133e;
    font-weight: bolder;
}

.main-menu .menu-container ul li.sub-menu .list a:hover {
    color: #fff;
    background: #ff133e;
}

/* .main-menu .menu-container ul li.sub-menu a::before{
    content: '';
    display: flex;
    width: 6px;
    height: 6px;
    border-top: 2px solid #828282;
    border-right: 2px solid #828282;
    transform: translateY(-10%) rotate(135deg);
    margin-left: 8px;
} */
/* </main-menu> */


body {
    background: #f3f4f6;
}


/* <public version> */
.wrap {
    display: block;
    width: 100%;
    /* margin-top: 70px; */
}

.wrap .section {
    width: 100%;
    position: relative;
    margin: 4.5% 0 0;
}

.wrap .section .section-container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.wrap .section .section-container > .title {
    font-size: 48px;
    color: #333;
    position: relative;
    text-align: center;
}

.wrap .section .section-container > .title::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    background: #ff133e;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
}

.wrap .section .section-container .content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 16px;
    margin: 5% 0 0;
}

.wrap .section .section-container .content .card {
    display: flex;
    width: calc(100% / 3 - 20px);
    /* flex: 0 1 auto; */
    flex-direction: column;
    background: #fff;
    box-shadow: 1px 1px 10px 1px rgba(000, 000, 000, 0.1);
    padding: 16px 16px 12px;
}

.wrap .section .section-container .content .card .card-head {
    display: block;
    position: relative;
    width: 100%;
    /* padding: 10px; */
}

.wrap .section .section-container .content .card .card-head .main-img {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 62.5%;
}

.wrap .section .section-container .content .card .card-head .main-img img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.wrap .section .section-container .content .card .card-head .number {
    font-size: 14px;
    color: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 18% 100%);
    background: #52525b;
    position: absolute;
    padding: 4px 4px 4px 16px;
    top: 0;
    right: 0;
}

.wrap .section .section-container .content .card .card-head .class {
    font-size: 16px;
    color: #fff;
    background: #29303e;
    position: absolute;
    padding: 4px 8px;
    top: -8px;
    left: -24px;
}

.wrap .section .section-container .content .card .card-head .class::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    bottom: -8px;
    border-right: 8px solid #29303e;
    border-bottom: 8px solid transparent;
}

.wrap .section .section-container .content .card .card-head .teacher {
    display: flex;
    position: absolute;
    align-items: center;
    bottom: 0;
    left: 0;
    transform: translateY(60%);
}

.wrap .section .section-container .content .card .card-head .teacher .img {
    display: block;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    box-shadow: 1px 1px 15px 3px rgba(000, 000, 000, 0.2);
    outline: 4px solid #fff;
    overflow: hidden;
}

.wrap .section .section-container .content .card .card-head .teacher .img img {
    display: block;
    width: 100%;
}

.wrap .section .section-container .content .card .card-head .teacher span {
    display: flex;
    align-self: flex-end;
    font-size: 18px;
    font-weight: bolder;
    color: #828282;
    padding-bottom: 8px;
    margin-left: 15px;
    
}


.wrap .section .section-container .content .card .card-body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    color: #333;
    width: 100%;
    margin-top: 5px;
    margin-top: 40px;
}

.wrap .section .section-container .content .card .card-body .title {
    font-size: 20px;
    font-weight: bolder;
    margin: 16px 0;
    padding: 0 0 0 8px;
    border-left: 2px solid #ff133e;
}

.wrap .section .section-container .content .card .card-body .text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #828282;
    line-height: 35px;
    flex-grow: 1;
    font-size: 16px;
    margin-bottom: 32px;
    word-break: break-all;
}

.wrap .section .section-container .content .card .card-foot {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 12px 0 8px;
}

.wrap .section .section-container .content .card .card-foot p {
    font-size: 16px;
    color: #bdbdbd;
}

.wrap .section .section-container .content .card .card-foot p.price {
    font-weight: bolder;
    color: #ff133e;
}

/* </public version> */

/* <banner> */
.wrap .section.section-banner {
    margin: 0;
    overflow: hidden;
}

.wrap .section-banner .banner-container {
    display: flex;
    width: fit-content;
    /* overflow-x: scroll; */
}

.wrap .section-banner .banner-container .item {
    display: block;
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.wrap .section-banner .banner-container .item::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .8;
    z-index: 1;
}

.wrap .section-banner .banner-container .item.show::before {
    content: '';
    opacity: 0;
    z-index: 0;
    transition: all .5s ease-in;
}

.wrap .section-banner .banner-container .item .filter-banner {
    display: block;
    position: relative;
    width: 100%;
    /* padding-bottom: 34%; */
    /* overflow: hidden; */
}

.wrap .section-banner .banner-container .item .filter-banner img {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    filter: blur(20px) grayscale(30%);
    transform: scale(1.2);
    z-index: -1;
}

.wrap .section-banner .banner-container .item .center-banner {
    display: block;
    width: 70%;
    margin: 0 auto;
    z-index: 1;
}

.wrap .section-banner .banner-container .item .center-banner .center-img {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 49%;
}

.wrap .section-banner .banner-container .item .center-banner .center-img img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.wrap .section-banner .slide-btn-container {
    display: flex;
    width: 100%;
}

.wrap .section-banner .slide-btn-container .banner-btn {
    display: block;
    width: calc(100% / 7);
    /* line-height: 48px; */
    font-size: 16px;
    border: none;
    background: #ccc;
    color: #29303e;
    cursor: pointer;
    padding: 16px 0;
    transition: all .2s ease-in;
}

.wrap .section-banner .slide-btn-container .banner-btn:hover {
    color: #fff;
    background: #29303e;
    transition: all .2s ease-in;
}
.wrap .section-banner .slide-btn-container .banner-btn.checked {
    color: #fff;
    background: #ff133e;
    transition: all .2s ease-in;
}

/* </banner> */




/* <section-discount> */
.wrap .section.section-discount .section-container .content .card {
    border-top: 2px solid #ff133e;
    border-bottom: 2px solid #ff133e;
}

.wrap .section.section-discount .section-container .content .card .card-head .class {
    left: -16px;
    background: #ff133e;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
    padding: 4px 24px 4px 12px;
}

.wrap .section.section-discount .section-container .content .card .card-head .class::after {
    content: none;
}

.wrap .section.section-discount .section-container .content .card .card-body {
    margin-top: 0;
}
/* </section-discount> */


/* <section-astro-camp> */
.wrap .section.section-astro-camp .text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1280px;
    /* max-width: 80%; */
    margin: 0 auto;
    padding: 5rem 0 16rem;
    position: relative;
    background: url('../images/astrocamp-red-rocket.svg') no-repeat bottom center / 100% auto;
    z-index: 1;
}

.wrap .section.section-astro-camp .title {
    font-size: 60px;
    font-weight: bolder;
    color: #E51f58;
}

.wrap .section.section-astro-camp p.sologan {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 24px;
    color: #333;
}

.wrap .section.section-astro-camp p.content {
    font-size: 24px;
    max-width: 576px;
    margin: 40px auto 0px;
    color: #52525b;
}
.wrap .section.section-astro-camp p.content-down {
    margin: 0 auto 40px;
}

.wrap .section.section-astro-camp .text-container a {
    font-size: 16px;
    color: #fff;
    border-radius: 30px;
    background: #E51f58;
    margin: 0 auto 40px;
    padding: 12px 40px 12px 16px;
    position: relative;
}

.wrap .section.section-astro-camp .text-container a::before {
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 3px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    border-radius: 30px;
    background: #fff;
}

.wrap .section.section-astro-camp .text-container a::after {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    top: 50%;
    right: 20px;
    transform: translateY(-50%) rotate(45deg);
}
/* </section-astro-camp> */


/* <section-video> */
.wrap .section.section-video {
    background: #E51f58;
    margin-top: 0;
}

.wrap .section.section-video .video-container {
    padding: 220px 0 0;
    margin: -221px 0 0;
}

.wrap .section.section-video .video-container h3 {
    font-size: 30px;
    color: #fff;
    margin: 0 0 40px;
    text-align: center;
}

.wrap .section.section-video .video-container .video {
    max-width: 1024px;
    /* height: 574px; */
    margin: 0 auto;
    position: relative;
    padding-bottom: 60px;
}

.wrap .section.section-video .video-container .video .lite-youtube {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    cursor: pointer;
}

.wrap .section.section-video .video-container .video .lite-youtube img, 
.wrap .section.section-video .video-container .video .lite-youtube iframe {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    border: none;
}

.wrap .section.section-video .video-container .video .lite-youtube svg {
    display: flex;
    width: 75px;
    color: #fff;
    cursor: pointer;
    /* background: #fff; */
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9; /* 確保按鈕位於其他元素之上 */
}

.wrap .section.section-video .video-container .video .lite-youtube:hover svg path {
    fill: #ff0000;
    /* transition: all .3s ease; */
}




/* </section-video> */


/* <section-online> */

/* </section-online> */


/* <section-article> */
.wrap .section.section-article {
    margin-bottom:10%;
}

.wrap .section.section-article .section-container .content .card {
    width: calc(100% / 2 - 15px);
    flex-direction: row;
}

.wrap .section.section-article .section-container .content .card .img-block {
    display: block;
    width: 192px;
}

.wrap .section.section-article .section-container .content .card .img-block .img {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 75%;
    border-radius: 8px;
    overflow: hidden;
}

.wrap .section.section-article .section-container .content .card .img-block .img img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.wrap .section.section-article .section-container .content .card .text-block {
    display: flex;
    width: calc(100% - 192px);
    flex-direction: column;
    padding-left: 20px;
    justify-content: space-between;
}

.wrap .section.section-article .section-container .content .card .text-block p {
    font-weight: bolder;
    word-wrap: break-word;
}

.wrap .section.section-article .section-container .content .card .text-block .title{
    font-size: 30px;
    font-weight: bolder;
    color: #000;
    line-height: 36px;
}

.wrap .section.section-article .section-container .content .card .text-block .subtitle {
    display: flex;
    font-size: 16px;
    font-weight: bolder;
    color: #29303e;
    line-height: 24px;
    align-items: center;
    margin: 4px 0;
}

.wrap .section.section-article .section-container .content .card .text-block .subtitle::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('../images/pen-nib-solid.svg') no-repeat center center / 100% auto;
    margin-right: 5px;
}

.wrap .section.section-article .section-container .content .card .text-block .text-foot {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.wrap .section.section-article .section-container .content .card .text-block .text-foot span {
    font-size: 16px;
    line-height: 24px;
    color: #bdbdbd;
}

.wrap .section.section-article .section-container .more-btn {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.wrap .section.section-article .section-container .more-btn a {
    font-size: 16px;
    color: #fff;
    border-radius: 30px;
    background: #ff133e;
    margin: 40px 0 0;
    padding: 12px 40px 12px 16px;
    position: relative;
}

.wrap .section.section-article .section-container .more-btn a::before {
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 3px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    border-radius: 30px;
    background: #fff;
}

.wrap .section.section-article .section-container .more-btn a::after {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    top: 50%;
    right: 20px;
    transform: translateY(-50%) rotate(45deg);
}
/* </section-article> */


/* <section-service> */
.wrap .section.section-service {
    background: #29303e;
    position: relative;
    padding: 20px 0;
    margin: 0;
}

.wrap .section-service-bg-top {
    display: block;
    width: 100%;
    margin: 0 0 -1%;
}
.wrap .section-service-bg-bottom {
    display: block;
    width: 100%;
    margin: -1% 0 0;
}

.wrap .section.section-service .section-container .title {
    color: #fff;
}


.wrap .section.section-service .section-container .content .card {
    width: calc(100% / 2 - 15px);
    border: 1px solid #fff;
    border-radius: 8px;
    background: #fff;
    overflow: hidden;
    padding: 0;
}

.wrap .section.section-service .section-container .content .card .img-block {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 49%;
}

.wrap .section.section-service .section-container .content .card .img-block img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.wrap .section.section-service .section-container .content .card .text-block {
    width: 100%;
    padding: 20px;
}

.wrap .section.section-service .section-container .content .card .text-block p {
    font-size: 16px;
    color: #333;
    text-align: left;
}

.wrap .section.section-service .section-container .content .card .text-block p:first-child {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 18px;
}

.wrap .section.section-service .section-container .content .card .text-block .more {
    display: block;
    position: relative;
    color: #ff133e;
    text-align: right;
    margin: 24px 22px 0 0;
}

.wrap .section.section-service .section-container .content .card .text-block .more::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 4px;
    background: red;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
}

.wrap .section.section-service .section-container .content .card .text-block .more::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    top: 50%;
    right: -20px;
    border-color: red;
    border-style: solid;
    border-width: 3px 3px 0 0;
    transform: translateY(-50%) rotate(45deg);
}
/* </section-service> */

/* <messenger-block> */
.messenger-block {
    display: flex;
    position: fixed;
    border-radius: 60px;
    background: rgb(250, 60, 76);
    bottom: 5%;
    right: 3%;
    padding: 10px 16px;
    cursor: pointer;
    z-index: 99;
}

.messenger-block .img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.messenger-block .img img {
    display: block;
    width: 100%;
    height: 100%;
}

.messenger-block .text {
    font-size: 16px;
    font-weight: bolder;
    color: #fff;
}
/* </messenger-block> */


/* <footer> */
.footer {
    background: #29303e;
}

.footer .footer-content {
    display: block;
    max-width: 1280px;
    padding: 56px 8px;
    margin: 0 auto;
}

.footer .footer-content .img {
    display: inline-block;
    width: 186px;
}

.footer .footer-content .img img {
    display: block;
    width: 100%;
}

.footer .footer-content .text-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
}

.footer .footer-content .text-content .address-block {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    font-style: normal;
}

.footer .footer-content .text-content .link-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.footer .footer-content .text-content .link-block a {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.footer .footer-content .text-content .link-block .media,
.footer .footer-content .text-content .link-block .another {
    display: flex;
    gap: 30px;
}

.footer .footer-content .text-content .link-block .media a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .footer-content .text-content .link-block .media a img {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.footer .copyright {
    background: #181E2D;
    padding: 16px 8px;
}

.footer .copyright p {
    color: #94a3b8;
    text-align: center;
    line-height: 24px;
}

.footer .content-right {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.footer .content-right a {
    color: #fff;
    text-decoration: none;

}
/* </footer> */

